// FONT FAMILY
$rubik: 'Rubik', sans-serif;
$karla: 'Karla', sans-serif;

// COLORS
$white: #fff;
$black: #000;
$grey: #222;
$theme-color: #EE393A;
$secondary-color:#130f40;
$body-text-color: #130f40;
$hr-border-color: #7e7e7e;

//HEADING COLOR
$heading-color: #130f40;

//SOFT COLOR
$black-soft: #7e7e7e;

// RESPONSIVE VARIABLES
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';